body{
    background-image: url(https://i.pinimg.com/originals/7c/f9/28/7cf92868b50c428c103210ae3391be02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    color: black;
    font-family: cursive;
    font-size: 40px;
    font-style: italic;
    text-indent: 40px;
}
img{
    width: 480px;
    float: left;
    position: relative;
}
h1{
    border-style: dashed;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    color: black;
}
.boton1 {
    background-color: rgb(183, 189, 183);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 3px #000000;
    box-shadow: 3px 5px 7px #000000;
    border-radius: 5px;
    cursor: pointer;
}
.caja{
    position: relative;
    top: 200px;
}
.ocultar {
    display: none;
}